<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Snake_Game.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <Snake_Game.Properties.Settings>
            <setting name="controlsXmlPath" serializeAs="String">
                <value>C:\Program Files\Snake_Game\Snake_Game_Controls.xml</value>
            </setting>
            <setting name="scoreXmlPath" serializeAs="String">
                <value>C:\Program Files\Snake_Game\Snake_Game_Score.xml</value>
            </setting>
            <setting name="settingsXmlPath" serializeAs="String">
                <value>C:\Program Files\Snake_Game\Snake_Game_Settings.xml</value>
            </setting>
        </Snake_Game.Properties.Settings>
    </applicationSettings>
</configuration>